.bg-img {
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.bg-img:hover {
  background-size: 110%;
}

.bg-img-contain {
  background-size: contain;
}
.bg-img-contain {
  min-height: 150px !important;  // move this!
}
.bg-img-contain:hover {
  background-size: contain;
}



