.cards {
    .overlay {
        @extend .card-img-overlay;
        .card-footer {
            display: none;
        }
        
        color: white;
            
        
    }
    .card-overlay {
        .card-img-top {
            filter: brightness(50%);
        }
    }    

    .card-transparent, .card-overlay {
        border:none;
    }
    .transparent {
        @extend .card-body;
        @extend .bg-transparent;

        .card-footer {
            @extend .bg-transparent;
        }
    }

    .normal {
        @extend .card-body;
        .card-img-fix {
            height: 50%;
            object-fit: cover;
        }
    }
   
    .card {
        width: 100% !important;
    }

    .card-img-fix {
        height: 100%;
    }
}