.flexible_columns {

   
    .col-block-column {
        @extend .col-12;
    }
    .col-block-row {
        @extend .col-md-6;
    }

    .item-container-block-row {
        @extend .mt-md-5;
        .item {
            @extend .row;
        }
        .image-left {
            @extend .col-9;
            @extend .pr-3;
        }
        .flex-image.image-left {
            @extend .col-3;
            @extend .pr-0;
            .bg-img {
                background-position: top;
            }
        }
        .flex-image.image-right {
            @extend .col-3;
            @extend .pr-0;
            .bg-img {
                background-position: top;
            }
        }
        .flex-image.image-right {
            @extend .order-last;
        }
        .image-top {
            @extend .col-9;
            @extend .px-0;
            @extend .py-3;
        }
    }

    .item-container-block-column {
        @extend .d-flex;
        margin-left: calc(#{$spacer}*-2);  // needs to match item padding below
        margin-right: calc(#{$spacer}*-2);  // needs to match item padding below
        @extend .justify-content-between;
    }
    .item-container-block-column {
        .item {
            @extend .row;
            @extend .px-4;  // needs to match margin-left, right above
            @extend .h-100;            
        }
        .image-left {
            @extend .col-md-8;
            @extend .pr-3;
        }
        .flex-image.image-left {
            @extend .col-md-4;
            @extend .pr-0;
            .bg-img {
                background-position: top;
            }
        }
        .flex-image.image-right {
            @extend .col-md-4;
            @extend .pr-0;
            .bg-img {
                background-position: top;
            }
        }
        .flex-image.image-right {
        @extend .order-last;
        }
        .image-top {
            @extend .col-md-12;
            @extend .py-3;
        }
    }

    
    
}