footer {
    background-color: darken($bg-alt, 30%);
    color: color-yiq(darken($bg-alt, 30%));
    a {
        color : $text-alt;
        &:hover {
            color : $text-alt;
        }
    }
    .footer-links {
        list-style: none;
        padding: 0;
    }
}