.page_header {
  padding: 75px 0;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page_header_default {
  min-height: 300px;
}

.page_header_hero {
  height: 100vh;
}
