#primary-nav {

  .menu-primary-navigation-container {
    margin: 0 0 0 auto;
  }

  .navbar {
    padding: 0;
  }

  .navbard-brand {
    font-family: $heading-font;
  }
  li {
    @extend .pl-md-4;
  }
  a {
    @extend .nav-link;
    font-family: $heading-font;
    color: $text-default;
    &:hover {
      color: darken($text-default, 10%);
    }
  }

  .navbar-toggler {
    color: $text-default;
    padding:0;
    border:0;
  }
}
