

.section-content {
    padding: $section-padding;
    background-color : $bg-default;
    color: $text-default;
    margin-top:-7px;

    .bg-img {
        min-height: 350px;
    }

    a {
        color: $text-default;
        font-weight: 600;
    }
}
.section:nth-child(odd) {
    .reorder {
        @extend .order-first;
    }
}

.section:nth-child(2n) {
    
    .section-content {
        background-color : $bg-alt;
        color: $text-alt;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.26'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    a {
        color: $text-alt;
        font-weight: 600;
    }
    svg {
        display: none;
        background-color: $bg-default;
        .color {
            fill: $white;
        }
    }

}
.section:nth-child(3n) {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    .section-content {
        background-color : $white;
        
        color: $gray-600;
    }
    a {
        color: $gray-600;
        font-weight: 600;
    }
    svg {
        background-color: $bg-alt;
        .color {
            fill: $white;
        }
    }

}

.section:nth-child(2) {
    .pre-section {
        svg {
            display: none;
        }
    }
}




.pre-section {
    svg {
        bottom: -1px;
        height: 7vw;
        width: 100%;
        background-color: $bg-alt;
    }
    .color {
        fill: $bg-default;
    }
}

.post-section {
    svg {
        bottom: -1px;
        height: 7vw;
        width: 100%;
    }
    .color {
        fill: orangered;
    }

}

.pre-inner-section {
    display: none;
    border-top: $line-width solid $gray-100;
    border-left: $line-width solid $gray-100;
    height: 20px;
}
.post-inner-section {
    border-bottom: $line-width solid black;
    border-right: $line-width solid black;
    height: 20px;
}

.section:nth-child(odd) {
    
}





