$bg-default : white;
$text-default: darken(color-yiq($bg-default), 0%);

$bg-alt : $gray-100;
$text-alt: darken(color-yiq($bg-alt), 0%);

$padding : 25px;
$line-width : 4px;

$section-padding: calc(3*#{$padding}) 0;

