@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,700');

$body-font: 'Open Sans', serif;
$heading-font: 'Roboto Slab', serif;


body, html {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}